<div class="profile-section">
    <div class="private-section">
        <div class="user-connections">
            <h1>Connections:</h1>
            <div>
                <mat-card role="button" (click)="addConnection()" class="module connection call-to-action">
                    <mat-icon class="action-icon">add</mat-icon>
                </mat-card>
            </div>
            <div *ngIf="connections.length == 0">
                <div class="integrated-call-to-action call-to-left">
                    <mat-icon class="action-icon">arrow_back</mat-icon>
                    To start, connect a service.
                </div>
            </div>
            <div *ngFor="let connection of connections">
                <mat-card class="module connection"
                    role="button" (click)="openConnection(connection)">
                    {{connection.name}}
                </mat-card>
            </div>
        </div>
    </div>

    <div class="row public-section">
        <div class="user-data col-sm-4">
            <img width="250px" height="250px" class="avatar" src="https://avatars0.githubusercontent.com/u/354122?s=460&v=4">
            <div *ngIf="session" class="username">@{{ session.username }}</div>
            <div *ngIf="!session">@.....</div>
        </div>

        <div class="user-programs col col-sm-8">
            <h1>Programs</h1>
            <div class="row">
                <div class="col-sm-6">
                    <mat-card role="button" (click)="addProgram()" class="module program call-to-action">
                        <h4>Create new program</h4>
                    </mat-card>
                </div>
                <div class="col-sm-6" *ngFor="let program of programs">
                    <mat-card class="module program"
                        [ngStyle]="{'background-color':program.enabled ? 'white' : 'lightgrey' }"
                        role="button" (click)="openProgram(program)">
                        <h4>{{program.name}}</h4>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>
