h2 mat-icon {
    vertical-align: sub;
    margin-right: 1ex;
}

.data .mat-form-field {
    display: block;
}

.accept-cancel {
    margin-top: 2em;
}

.accept-cancel button {
    margin-right: 1ex;
}

.confirm-button {
    background-color: #009688;
    color: white;
    font-weight: bold;
}

.hidden {
    display: none;
}
