<div class="grid grid-pad">
    <form>
        <mat-card class="col-sm-12">
        <div class="col-sm-12">
            <mat-form-field class="full-size">
                <input matInput
                       [(ngModel)]="bot.name"
                       placeholder="Bot Name"
                       name="botName" />
            </mat-form-field>
        </div>
        </mat-card>

        <mat-card class="col-sm-12">
            <h3>Platforms</h3>
            <div>
                <mat-slide-toggle
                    color="primary"
                    class="col-sm-12"
                    [(ngModel)]="telegram.activated"
                    name="telegram_enabled">

                    <img class="col-sm-2" src="/assets/telegram_logo.png" />
                    <h3 class="no-top-margin col-sm-6">Telegram</h3>
                </mat-slide-toggle>

                <span class="requirements-explantation">
                    Fill the data with the one that
                    <a href="https://telegram.me/botfather">BotFather</a>
                    provides
                </span>
                <mat-form-field class="col-sm-10">
                    <input matInput
                           [disabled]="!telegram.activated"
                           [(ngModel)]="telegram.token"
                           placeholder="Token ID"
                           name="telegram-token" />
                </mat-form-field>
            </div>
        </mat-card>

        <mat-card class="col-sm-12">
            <h3>Connect programs to services</h3>
            <button mat-button [mat-menu-trigger-for]="programMenu" class="col-sm-4">
                <span *ngIf="selectedProgram === undefined">Choose an Program</span>
                <span *ngIf="selectedProgram !== undefined">{{selectedProgram.name}}</span>
            </button>
            <mat-menu #programMenu="matMenu">
                <button *ngFor="let program of programs" (click)="selectProgram(program)" mat-menu-item> {{program.name}} </button>
            </mat-menu>

            <button mat-button [mat-menu-trigger-for]="serviceMenu" class="col-sm-4">
                <span *ngIf="selectedService === undefined">Choose an Service</span>
                <span *ngIf="selectedService !== undefined">{{selectedService.name}}</span>
            </button>
            <mat-menu #serviceMenu="matMenu">
                <button *ngFor="let service of services" (click)="selectService(service)" mat-menu-item> {{service.name}} </button>
            </mat-menu>

            <button color="primary"
                    mat-button mat-raised-button
                    class="col-sm-4 call-to-action"
                    (click)="addProgramServicePair()"
                    [disabled]="selectedService === undefined || selectedProgram === undefined">
                Add
            </button>

        </mat-card>

        <mat-card class="col-sm-4 program-service-pair" *ngFor="let pair of programServicePairs">
            <div class="program">{{pair.program.name}}</div>
            <div class="service">{{pair.service.name}}</div>
        </mat-card>

        <div class="col-sm-12">
            <button class="col-sm-6"
                    color="primary" mat-button mat-raised-button (click)="create()"
                    class="call-to-action" [disabled]="!telegram.activated || programServicePairs.length < 1 || bot.name.length < 1">
                <span class="createButton">
                    Create
                </span>
            </button>
            <button class="col-sm-6"  mat-button (click)="goBack()">Cancel</button>
        </div>
</form>
