<div class="app-content">
    <mat-toolbar id="main-toolbar">
        <span id="main-menu-opener" role="button" (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></span>
        <a (click)="goHome()" id="main-title"> <img class="logo" src="/assets/logo.png" alt=""> {{title}} </a>
        <span class="floating-elements">
            <span class="login-indicator">
                <button mat-mini-fab
                    (click)="gotoSettings()"
                    *ngIf="loggedIn"
                    class="account-menu">
                    <mat-icon>account_circle</mat-icon>
                </button>
                <div class="login-button" *ngIf="!loggedIn">
                    <a class="action-link" (click)="gotoLogin()">Login</a>
                </div>
            </span>
        </span>
    </mat-toolbar>
    <mat-sidenav-container>
        <mat-sidenav #sidenav mode="over" opened="false">
            <ul class="panels"
                *ngIf="loggedIn">
                <li>
                    <button mat-button (click)="gotoDashboard()">
                        <span>
                            Dashboard
                        </span>
                    </button>
                </li>
                <li>
                    <button mat-button (click)="gotoBridges()">
                        <span matBadge="{{ bridgeCount }}" matBadgePosition="after" matBadgeColor="accent">
                            Bridges
                        </span>
                    </button>
                </li>
            </ul>
            <ul class="user-controls"
                *ngIf="loggedIn">
                <li>
                    <button mat-button (click)="gotoSettings()">
                        <span>
                            Settings
                        </span>
                    </button>
                </li>
                <li>
                    <button mat-button (click)="logout()">
                        <span>
                            Logout
                        </span>
                    </button>
                </li>
            </ul>
            <ul class="user-controls"
                *ngIf="!loggedIn">
                <li>
                    <button mat-button (click)="gotoLogin()">
                        <span>
                            Login
                        </span>
                    </button>
                </li>
            </ul>
        </mat-sidenav>

        <div class="viewer">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-container>
</div>
