.login-indicator {
    float: right;
}

.login-indicator > .account-menu {
    color: white;
    background-color: transparent;
    box-shadow: none;

    width: max-content;
    height: max-content;

    display: inline-block;
}

.login-indicator .account-picture {
    height: 2rem;
    width: 2rem;
    border-radius: 4px;
}

a.action-link {
    color: orange;
    font-weight: bold;
    font-size: smaller;
    cursor: pointer;
}

.floating-elements {
    width: 100%;
}

.username-display {
    font-size: smaller;
}

.selected {
    background-color: #cfd8dc !important;
    color: white;
}

.viewer {
    margin: 0px;
}

#main-toolbar {
    background-color: #27212e;
    color: white;
    padding-left: 0px;
}

#main-title {
    color: white;
    cursor: pointer;
    padding: 1em;
    text-decoration: none;
}

#main-title > .logo {
    width: 1em;
}

#main-menu-opener:hover {
    background-color: rgba(255,255,255, 0.3);
}
#main-menu-opener {
    padding: 1em;
    cursor: pointer;
}

.app-content {
    height: 100vh;
}

a.sidenav-link {
    color: #272727;
    text-align: right;
    width: 100%;
    font-size: 24px;
    padding: 1ex;
}

a.sidenav-link:hover {
    color: inherit;
    text-decoration: none;
}
