<div id="dashboard">
  <div class="collection-grid">
      <h1 class="collection-name">
          Programs
      </h1>
      <div class="grid grid-pad">
          <div class="row">
            <div *ngFor="let program of programs" class="col-sm-4">
                <mat-card role="button" (click)="openProgram(program)" class="module program">
                    <h4>{{program.name}}</h4>
                </mat-card>
            </div>
            <div class="col-sm-4">
                <mat-card role="button" (click)="addProgram()" class="module program call-to-action">
                    <h4>Add one!</h4>
                </mat-card>
            </div>
          </div>
      </div>
  </div>

  <div class="collection-grid">
      <h1 class="collection-name">
          Service accounts
      </h1>
      <div class="grid grid-pad">
          <div class="row">
            <div *ngFor="let service of services" class="col-sm-4">
                <mat-card class="module service"
                        [class.enabled]="service.enabled"
                        [class.not-enabled]="!service.enabled"
                        (click)="enableService(service)">
                    <h4>{{service.name}}</h4>
                    <div class="letter-call-to-action" *ngIf="!service.enabled">[click to enable]</div>
                </mat-card>
            </div>
          </div>
      </div>
  </div>

  <div *ngIf="monitors !== undefined && monitors.length > 0" class="collection-grid">
    <h1 class="collection-name">
        Monitors
    </h1>
    <div class="grid grid-pad">
      <div class="row">
        <div *ngFor="let monitor of monitors" class="col-sm-4">
            <mat-card class="module monitor">
                <h4>{{monitor.name}}</h4>
            </mat-card>
        </div>
        <!--
        <div class="col-sm-4">
            <mat-card role="button" (click)="addMonitor()" class="module monitor call-to-action">
                <h4>Add one!</h4>
            </mat-card>
        </div>
        -->
      </div>
    </div>
  </div>
  <div class="collection-grid">
    <h1 class="collection-name">
        Bridges
    </h1>
    <div class="grid grid-pad">
        <div class="row">
          <div *ngFor="let bridge of bridges" class="col-sm-4">
              <mat-card role="button" (click)="showBridgeDetail(bridge)" class="module bridge">
                  <h4 *ngIf="bridge.name">{{bridge.name}}</h4>
                  <h4 *ngIf="!bridge.name">No name</h4>
                  <div *ngIf="bridge.id === expandedBridgeId">
                      <button id="bridge-delete-button" color="warn"
                              (click)="deleteBridge(bridge)" mat-button>
                          <mat-icon>delete_forever</mat-icon> Delete bridge
                      </button>
                  </div>
              </mat-card>
          </div>
          <div class="col-sm-4">
              <mat-card role="button" (click)="addBridge()" class="module bridge call-to-action">
                  <h4>Add one!</h4>
              </mat-card>
          </div>
        </div>
    </div>
  </div>
  <!--
  <div class="collection-grid">
    <h1 class="collection-name">
        APIs
    </h1>
    <div class="grid grid-pad">
      <div class="row">
        <div *ngFor="let api of apis" class="col-sm-4">
            <mat-card class="module api">
                <h4>{{api.name}}</h4>
            </mat-card>
        </div>
        <div class="col-sm-4">
            <mat-card role="button" (click)="addAPI()" class="module api call-to-action">
                <h4>Add one!</h4>
            </mat-card>
        </div>
      </div>
    </div>
  </div>
  -->
</div>
