div.message-example {
    padding: 1ex;
    border-radius: 2px;
    background-color: #333;
    margin-top: 1ex;
    margin-bottom: 1ex;
    color: #eee;
}

button.confirmation {
    right: 0;
    margin-left: auto;
}
