<mat-card class="login-form center-block">
    <form class="container-fluid grid grid-pad">
        <div class="error-message col-sm-12" *ngIf="!!errorMessage">
            {{ errorMessage }}
        </div>

        <div class="col-sm-12">
            <mat-form-field class="full-size col-sm-12">
                <input matInput  class="col-sm-12"
                       [(ngModel)]="username"
                       placeholder="User name"
                       name="username" />
            </mat-form-field>
        </div>

        <div *ngIf="isSignUpMode"
              class="col-sm-12">
            <mat-form-field class="full-size col-sm-12">
                <input matInput  class="col-sm-12"
                       [(ngModel)]="email"
                       placeholder="Email address"
                       type="email"
                       name="email" />
            </mat-form-field>
        </div>

        <div class="col-sm-12">
            <mat-form-field class="full-size col-sm-12">
                <input matInput  class="col-sm-12"
                       [(ngModel)]="password"
                       placeholder="Password"
                       type="password"
                       name="password" />
            </mat-form-field>
        </div>

        <div *ngIf="isSignUpMode"
              class="col-sm-12">
            <mat-form-field class="full-size col-sm-12">
                <input matInput  class="col-sm-12"
                       [(ngModel)]="repeatPassword"
                       placeholder="Repeat password"
                       type="password"
                       name="repeatPassword" />
            </mat-form-field>
        </div>

        <br />
        <div class="col-sm-12 accept-cancel">
            <button color="primary"
                    *ngIf="isSignUpMode"
                    (click)="doSignUp()"
                    [disabled]="(debugger && false) || (username.length == 0)
                                ||(isSignUpMode && (email.length == 0))
                                || (password.length == 0)
                                || (isSignUpMode && (password != repeatPassword))"
                    mat-button mat-raised-button>
                Sign Up
            </button>
            <button color="primary"
                    *ngIf="isLogInMode"
                    (click)="doLogIn()"
                    mat-button mat-raised-button>
                Login
            </button>
            <button mat-button>
                Cancel
            </button>
        </div>

        <br />
        <div class="col-sm-12 text-center ">
            Or
            <a role="button" *ngIf="!isSignUpMode"
               (click)="goSignUpMode()">
                Sign up
            </a>
            <a role="button" *ngIf="!isLogInMode"
               (click)="goLogInMode()">
                Log in
            </a>
        </div>
    </form>
</mat-card>
