.program-pad #workspace {
    width: 100%;
}

.app-content {
    overflow: hidden;
}
.program-name .program-title {
    vertical-align: middle;
}

.program-name {
    display: inline;
    padding-right: 2em;
}

.program-name > a {
    padding-left: 1ex;
}

.program-name .back-arrow {
    vertical-align: middle;
}
