.program-pad #workspace {
    width: 100%;
}

.app-content {
    overflow: hidden;
}
.program-name .program-title {
  vertical-align: middle;
}

.program-name .back-arrow {
    vertical-align: middle;
}
