<div class="program-pad">
    <div id="program-header">
        <h2 class="program-name">
            <a href (click)="goBack()"><mat-icon class="back-arrow">arrow_back_ios</mat-icon></a>
            <span class="program-title" *ngIf="program !== undefined">{{program.name}}</span>
            <span class="program-title" *ngIf="program === undefined">Loading program...</span>
        </h2>
        <!-- Basic functions -->
        <button id="program-start-button" color="primary"
                *ngIf="program !== undefined"
                (click)="sendProgram()" mat-button>
            <mat-icon class="action-icon">play_arrow</mat-icon>
            Start
        </button>
        <button id="program-rename-button" color="secondary"
            *ngIf="program !== undefined"
            (click)="renameProgram()" mat-button>
            <mat-icon>edit</mat-icon> Rename
        </button>
        <button id="program-logs-button" color="secondary"
            *ngIf="program !== undefined"
            (click)="toggleLogsPanel()" mat-button>
            <mat-icon>error_outline</mat-icon>
            <span *ngIf="logs_drawer.opened">Hide</span>
            <span *ngIf="!logs_drawer.opened">Show</span>
            logs
        </button>
        <button id="program-stop-button" color="warn"
            *ngIf="program !== undefined"
            (click)="stopThreadsProgram()" mat-button>
            <mat-icon>stop</mat-icon> Stop all
        </button>
        <!-- Advanced functions, on a menu -->
        <button id="advancedProgramControls" color="secondary"
            [matMenuTriggerFor]="advancedProgramControls"
            *ngIf="program !== undefined" mat-button>
            <mat-icon>more_vert</mat-icon> Advanced
        </button>
        <mat-menu #advancedProgramControls="matMenu">
            <button mat-menu-item
                (click)="setProgramTags()">
                <mat-icon class="example-tab-icon">label</mat-icon>
                Tags
            </button>
        </mat-menu>


        <!-- Dangerous stuff, by itself -->
        <button id="program-delete-button" color="warn"
            *ngIf="program !== undefined"
            (click)="deleteProgram()" mat-button>
            <mat-icon>delete_forever</mat-icon> Delete program
        </button>
    </div>

    <mat-sidenav-container>
        <mat-sidenav #logs_drawer mode="side" position="end">
            <div id="logs_panel_container">Loading logs...</div>
        </mat-sidenav>

        <div class="viewer">
            <div id="workspace"></div>
        </div>
    </mat-sidenav-container>
