<div class="program-pad">
    <div id="program-header">
        <h1 class="program-name">
            <a href (click)="goBack()"><mat-icon class="back-arrow">arrow_back_ios</mat-icon></a>
            <span class="program-title" *ngIf="program !== undefined">{{program.name}}</span>
            <span class="program-title" *ngIf="program === undefined">Loading program...</span>
        </h1>
        <button id="program-rename-button" color="secondary"
                *ngIf="program !== undefined"
                (click)="renameProgram()" mat-button>
            <mat-icon>edit</mat-icon> Rename
        </button>
        <button id="program-start-button" color="primary"
                *ngIf="program !== undefined"
                (click)="sendProgram()" mat-button>
            <mat-icon class="action-icon">play_arrow</mat-icon>
            Start
        </button>
        <button id="program-stop-button" color="warn"
                *ngIf="program !== undefined"
                (click)="stopThreadsProgram()" mat-button>
            <mat-icon>stop</mat-icon> Stop all
        </button>
        <button id="program-delete-button" color="warn"
                *ngIf="program !== undefined"
                (click)="deleteProgram()" mat-button>
            <mat-icon>delete_forever</mat-icon> Delete program
        </button>
    </div>

    <div id="metadata" class="float-right">
        <program-metadata-component
            *ngIf="program !== undefined"
            programUserId="{{program.owner}}"
            programId="{{program.id}}"></program-metadata-component>
    </div>
    <div id="workspace"></div>
