<div class="program-pad">
    <div id="program-header" class="">
        <h2 class="program-name">
            <a href (click)="goBack()"><mat-icon class="back-arrow">arrow_back_ios</mat-icon></a>
            <span class="program-title" *ngIf="program !== undefined">{{program.name}}</span>
            <span class="program-title" *ngIf="program === undefined">Loading...</span>
        </h2>

        <span class="hint hint-scrollable">
            <mat-icon class="hint-icon " aria-label="Scrollable section" aria-hidden="true">expand_more</mat-icon>
            <span class="hint-text">Scroll to find more buttons</span>
        </span>
        <!-- Basic functions -->
        <button mat-button mat-raised-button
            id="program-start-button" color="primary"
            *ngIf="this.canEdit && program !== undefined"
            (click)="sendProgram()">

            <span class="load-bg"></span>
            <mat-icon class="action-icon">cloud_upload</mat-icon>
            Upload
        </button>
        <button id="program-rename-button" color="secondary"
            *ngIf="this.canEdit && program !== undefined"
            (click)="renameProgram()" mat-button>
            <mat-icon>edit</mat-icon> Rename
        </button>
        <button id="program-logs-button" color="secondary"
            *ngIf="this.canEdit && program !== undefined && (this.streamingLogs || this.logCount > 0)"
            (click)="toggleLogsPanel()" mat-button>
            <mat-icon>error_outline</mat-icon>
            <span *ngIf="logs_drawer.opened">Hide</span>
            <span *ngIf="!logs_drawer.opened">Show</span>
            logs
        </button>
        <button id="program-stop-button" color="warn"
            *ngIf="this.canEdit && program !== undefined"
            (click)="stopThreadsProgram()" mat-button>
            <mat-icon>stop</mat-icon> Stop all
        </button>
        <!-- Advanced functions, on a menu -->
        <button id="advanced-program-controls-button" color="secondary"
            [matMenuTriggerFor]="advancedProgramControls"
            *ngIf="this.canEdit && program !== undefined"
            mat-button>
            <mat-icon>more_vert</mat-icon> Advanced
        </button>
        <mat-menu  #advancedProgramControls="matMenu">
            <button mat-menu-item
                (click)="setProgramTags()">
                <mat-icon class="example-tab-icon">label</mat-icon>
                Tags
            </button>
        </mat-menu>


        <!-- Dangerous stuff, on its own -->
        <button id="program-delete-button" color="warn"
            *ngIf="this.canEdit && program !== undefined"
            (click)="deleteProgram()" mat-button>
            <mat-icon>delete_forever</mat-icon> Delete program
        </button>
    </div>

    <mat-sidenav-container>
        <mat-sidenav #logs_drawer mode="side" position="end">
            <div class="closer">
                <button (click)="closeLogsPanel()">
                    <mat-icon >close</mat-icon>
                </button>
            </div>

            <div id="logs_panel_container">
                Error logs are empty.
                <span id="contact-mail-call" *ngIf="environment.contact_mail">
                    If you have any problem, contact us on <a class="contact-mail" href="mailto:{{environment.contact_mail}}">{{environment.contact_mail}}</a>
                </span>

            </div>
        </mat-sidenav>

        <div class="viewer">
            <div id="workspace-read-only-marker" *ngIf="!isReady">
                <div class="message" *ngIf="nonReadyReason === 'loading'">
                    Loading…
                </div>
                <div class="message" *ngIf="nonReadyReason === 'disconnected'">
                    Connection lost.

                    <button mat-button mat-raised-button
                        (click)="force_reload()"  mat-button>

                        <mat-icon class="action-icon">refresh</mat-icon>
                        Refresh
                    </button>
                    to reconnect.
                </div>
            </div>
            <div id="workspace"></div>
        </div>
    </mat-sidenav-container>
    <div id="program-cursors"></div>
</div>
