[submodule "bot-builder/blocks/scratch-blocks"]
	path = frontend/blocks/scratch-blocks
	url = https://github.com/LLK/scratch-blocks
[submodule "bot-builder/blocks/closure-library"]
	path = frontend/blocks/closure-library
	url = https://github.com/google/closure-library
