.mat-dialog-actions > button.cancellation {
    margin-left: auto;
}

.info-msg {
    text-align: center;
    text-style: italics;
}

.text-icon {
    vertical-align: text-bottom;
}

button {
    right: 0;
}

mat-card > h4 {
    word-break: break-all;
}

mat-card.selected {
    border: 2px solid #227e00;
}

mat-card.reading {
    border: 2px solid #ddd;
}

mat-card.error {
    background-color: #fbb0b0;
}
