# See https://docs.docker.com/engine/reference/builder/#dockerignore-file

# Ignore non-applicable changes when ADDing files
Dockerfile
.git

# App artifacts
/_build
/db
/deps
/*.ez
*.beam

# Mnesia directories
Mnesia.*

# Generated on crash by the VM
erl_crash.dump
*.crashdump

# Static artifacts
dependencies.dot
dependencies.png
