{erl_opts, [debug_info]}.
{deps, [ { cowboy, ".*"
         , { git,"https://github.com/ninenines/cowboy"
           , {tag, "2.4.0"}}}
       , {jiffy, ".*"
         , { git, "https://github.com/davisp/jiffy/"
           , {tag, "0.15.2"}}}
       , {uuid, ".*"
         , {git, "https://github.com/avtobiff/erlang-uuid.git"
           , {tag, "v0.5.1"}}}
       , {libsodium, ".*"
         , {git, "git://github.com/potatosalad/erlang-libsodium.git"
           , {tag, "0.0.10"}}}
       , {pe4kin, ".*"
         , {git, "https://github.com/seriyps/pe4kin"
           , {tag, "0.1.2"}}}
       ]}.

{relx, [{release, { automate, "0.0.1" },
         [ automate
         , sasl
         , automate_rest_api
         , automate_bot_engine
         ]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [ {dev_mode, false}
                           , {include_erts, true}
                           , {sys_config, "./config/sys.config.prod"}
                           ]}]
            }]
}.
