{erl_opts, [debug_info]}.
{deps, [ { cowboy, ".*"
         , { git,"https://github.com/ninenines/cowboy"
           , {tag, "2.9.0"}}}
       , {jiffy, ".*"
         , { git, "https://github.com/davisp/jiffy"
           , {tag, "1.0.8"}}}
       , {uuid, ".*"
         , {git, "https://github.com/avtobiff/erlang-uuid"
           , {tag, "v0.5.2"}}}
       , {eargon2, ".*"
         , {git, "https://github.com/ergenius/eargon2"
           , {ref, "949dfc7c3e1bd06843b3eca823c92e9ed0c66199"}}}
       , {mochiweb, ".*"
         , {git, "https://github.com/mochi/mochiweb"
           , {tag, "v2.21.0"}}}
       , {mochiweb_xpath, ".*"
         , {git, "https://github.com/retnuh/mochiweb_xpath"
           , {tag, "v1.2.0"}}}
       , {prometheus, ".*"
         , {git, "https://github.com/deadtrickster/prometheus.erl"
           , {tag, "v4.8.1" }}}
       , {qdate, ".*"
         , {git, "http://github.com/choptastic/qdate"
           , {tag, "0.5.0" }}}
       , {recon, ".*"
         , {git, "https://github.com/ferd/recon"
         ,  {tag, "2.5.1" }}}
       ]}.

{dialyzer, [ {get_warnings, true}
           , {exclude_apps, [ cowboy
                            , mochiweb
                            , mochiweb_xpath
                            , eargon2
                            , qdate
                            ]}
           ]}.

{relx, [{release, { automate, "0.0.1" },
         [ automate
         , sasl
           %% Profiling components
         , tools
         , observer
         , runtime_tools
         , recon
         , os_mon

           %% Dependencies
         , cowboy
         , prometheus
         , mochiweb
         , eargon2
         , qdate
         ]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, false},
        {include_erts, true},

        {extended_start_script, true}]
}.

%% {profiles, [ { prod, [{relx, [ {dev_mode, false}
%%                              , {include_erts, true}
%%                              , {sys_config, "./config/sys.config.prod"}
%%                              ]}]
%%              }
%%            , { preview, [{relx, [ {dev_mode, false}
%%                                 , {include_erts, true}
%%                                 , {sys_config, "./config/sys.config.preview"}
%%                                 ]}]
%%              }
%%            , { test, [{relx, [ {dev_mode, true}
%%                              , {include_erts, true}
%%                              , {sys_config, "./config/sys.config"}
%%                              ]}]
%%              }
%%            ]
%% }.
