html, body {
    height: 100%;
    width: 100%;

    padding: 0px;
    margin: 0px;
}


#control_bar {
    float: left;

    width: 20%;
}

#control_bar h1 {
    font-family: monospace;
}

.ribbon > img {
    z-index: 9999;
}

#workspace {
    height: 100%;

    padding: 0px;
    margin: 0px;

    float: right;
    width: 80%
}
