.mat-dialog-actions > button.cancellation {
    margin-left: auto;
}

.info-msg {
    text-align: center;
    text-style: italics;
}

.text-icon {
    vertical-align: text-bottom;
}

button {
    right: 0;
}

mat-card > h4 {
    word-break: break-all;
}
