.settings-section {
    width: 100%;
    padding-bottom: 2em;
}

.save-button {
    padding: 1ex;
    border-radius: 5px;

    /* Right align */
    margin: 1ex 0 auto auto;
    display: block;
}

.settings-group {
    background-color: #fff;
    border-radius: 4px;
    padding: 1ex;
    margin-top: 1ex;
    overflow: auto;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);

    & > .title {
        font-size: 1.5rem;
        margin-bottom: 1ex;
        border-bottom: 1px solid #aaa;
    }

    .settings-group {
        box-shadow: none;

        & > .title::before {
            content: '› ';
        }
    }
}


.toggle-setting .value {
    float: left;
    margin-left: 1em;
}

.value.code {
    margin-left: 1ex;
    word-break: keep-all;
}

.code {
    display: inline-block;
    padding: 1ex;
    border-radius: 3px;
    border: 1px solid #222;
}

.toggle-setting {
    margin-bottom: 5ex;
}

.row {
    margin: 0 !important;
}

.annotated-icon.sample-button {
    padding: 0.25ex;
}
.user-profile {
    .section-title {
        font-size: 150%;
        margin: 1rem;
    }

    .groups .group {
        text-align: center;
        margin: 0.2rem;
        height: 4rem;
        line-height: calc(4rem - 1rem);
        padding: 0.5rem;
        user-select: none;
    }

    .groups .group .group-name {
    }
    .groups .group img {
        max-width: 4rem;
        max-height: 3rem;
    }
    .groups .group.unlisted {
        background: repeating-linear-gradient( 45deg,
                                               #fff,      #fff 10px,
                                               #eee 10px, #eee 20px );
    }
    .groups .group.listed {
        border: 1px solid rgba(175,0,175,0.5);
    }
    .groups .group.unlisted img {
        filter: grayscale(100%);
    }
}

/* Avatar */
div.avatar {
    padding: 0;
    height: 10em;
    width: 10em;
    display: block;
    margin: 1em auto;
    box-sizing: content-box;
    border: 1px dashed transparent;
}

.edited div.avatar {
    border: 1px dashed rgba(0,0,0,0.3);
}

.avatar > img {
    height: 10em;
    width: 10em;
    border-radius: 4px;
}

.avatar-edit-section {
    text-align: center;
}

.avatar-edit-section > mat-icon {
    vertical-align: bottom;
}

.picture-upload-button {
    padding: 1ex;
    border-radius: 5px;
}

.avatar-edit-section .save-button {
    display: inline-block;
    margin-left: 1em;
}
