h2 mat-icon {
    vertical-align: sub;
    margin-right: 1ex;
}

.block-settings {
    h3 {
        font-size: 1.25rem;
    }

    .section-contents {
        margin: 0 0 1em 1em;
    }

    mat-radio-group mat-radio-button {
        margin-right: 1em;
    }

    .color-picker {
        margin-top: 1em;

        input {
            // Mostly the same style as the one on https://huebee.buzz/
            box-shadow: inset 0 2px 10px hsla(0, 0%, 0%, 0.15);
            border-radius: 5px;
            border: 1px solid hsla(0, 0%, 0%, 0.2);

            padding: 0.85ex;
            font-size: 1.2rem;
            width: 23ex;

            margin-bottom: 1ex;
        }
    }

    .image-picker {
        margin-top: 1em;

        .avatar img {
            width: 20rem;
            height: 20rem;
        }

        .picture-upload-button {
            display: block;
            margin: 1ex auto;
        }
    }

    .target-link-picker mat-form-field {
        width: 50ex;
        max-width: 90vw;
    }
}

.width-sample .sample-container {
    height: 2rem;
    border: 1px dashed #000;

    .result {
        height: 100%;
        background-color: #27212e;
    }
}

.text-sample {
    padding-top: 1em;

    .result {
        padding: 1rem;
        border: 1px dashed #000;

        width: 40rem;
        max-width: 90vw;
        text-overflow: ellipsis;
        overflow: hidden;
        max-height: 8rem;
        line-height: 2ex;
    }
}

.accept-cancel {
    margin-top: 2em;
}

.accept-cancel button {
    margin-right: 1ex;
}

.confirm-button {
    background-color: #009688;
    color: white;
    font-weight: bold;
}

.hidden {
    display: none;
}
