<div class="profile-section">
    <div class="private-section">
        <div class="user-connections">
            <h1>Group connections </h1>
            <div class="connection-list">
                <div>
                    <button *ngIf="canWriteToGroup" role="button" (click)="addConnection()" class="module connection call-to-action soft cardlike" mat-raised-button>
                        <mat-icon class="action-icon">add</mat-icon>
                    </button>
                </div>
                <div *ngIf="(connections !== null) && (connections.length == 0)">
                    <div *ngIf="canWriteToGroup" class="integrated-call-to-action call-to-left">
                        <mat-icon class="action-icon">arrow_back</mat-icon>
                        To start, connect a service.
                    </div>
                    <div *ngIf="!canWriteToGroup" class="no-connection-message">
                        <mat-icon class="action-icon">sync_disabled</mat-icon>
                        No connection established
                    </div>
                </div>
                <div *ngFor="let connection of connections">
                    <mat-card class="module connection"
                        role="button" (click)="openConnection(connection.conn)">
                        <img role="avatar" class="icon" *ngIf="connection.extra.icon_url" src="{{ connection.extra.icon_url }}" alt="{{ connection.conn.bridge_name }}" />

                        <span *ngIf="!connection.extra.icon_url" class="connection-name">
                            {{ connection.conn.bridge_name }}
                        </span>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>

    <div class="row public-section">
        <div class="col col-sm-4">
            <div *ngIf="groupInfo" class="user-profile ">
                <div class="avatar">
                    <img role="avatar" src="{{ _getGroupPicture(groupInfo.id)  }}"
                        onError="this.src='/assets/profile-not-set.png'"
                    />
                </div>

                <div class="group-name">{{ groupInfo.name }}</div>

                <div class="status-ispublic-info">
                    <div *ngIf="groupInfo.public" class="public-group">
                        <mat-icon>public</mat-icon> public group
                    </div>
                    <div *ngIf="!groupInfo.public" class="public-group">
                        <mat-icon>lock</mat-icon> private group
                    </div>
                </div>
                <section class="edit-configuration"
                    *ngIf="userRole==='admin'"
                >
                    <a routerLink="./settings" class="settings-link" role="button"
                        matRipple>
                        <mat-icon>settings</mat-icon>
                        Edit configuration
                    </a>
                </section>
                <section *ngIf="collaborators" class="collaborators">
                    <div class="section-title">Collaborators</div>

                    <div *ngIf="collaborators.length == 0" class="not-joined-explanation">
                        This group has no public collaborator.
                    </div>

                    <div class="section-objects">
                        <mat-card class="collaborator non-clickable"
                            *ngFor="let user of collaborators">
                            <span class="collaborator-role"
                                matTooltip="{{ user.role }}">
                                <mat-icon>{{ _roleToIcon(user.role)  }}</mat-icon>
                            </span>

                            <img role="avatar" class="icon" *ngIf="user.picture"
                                src="{{ user.picture }}"
                                alt="{{ user.username }}"
                                matTooltip="@{{ user.username }}"
                            />

                            <span *ngIf="!user.picture" class="user-name">
                                {{ user.username }}
                            </span>
                        </mat-card>
                    </div>

                    <div class="section-buttons">
                        <button class="group call-to-action soft" role="button"
                            (click)="addCollaborators()"
                            *ngIf="userRole==='admin'"
                            mat-raised-button>
                            <mat-icon>group_add</mat-icon> Add collaborators
                        </button>
                    </div>
                </section>

                <section *ngIf="bridges" class="bridges">
                    <div class="section-title">Bridges</div>

                    <div *ngIf="bridges.length == 0" class="not-joined-explanation">
                        This group does not own any bridge.
                    </div>

                    <div class="section-objects">
                        <mat-card *ngFor="let bridge of bridges"
                            class="bridge"
                            role="button"
                            (click)="openBridgePanel(bridge)"
                        >
                            <span class="bridge-status connected-{{bridge.is_connected}}"
                                matTooltip="{{ bridge.is_connected ? 'Bridge connected' : 'Bridge disconnected' }}">
                                <mat-icon *ngIf="bridge.is_connected">link</mat-icon>
                                <mat-icon *ngIf="!bridge.is_connected">link_off</mat-icon>
                            </span>


                            <img role="avatar" class="icon" *ngIf="bridge.icon" src="{{ _iconDataToUrl(bridge.icon, bridge.id) }}" alt="{{ bridge.name }}" />

                            <div *ngIf="!bridge.icon" class="bridge-name">
                                {{bridge.name || "unnamed bridge"}}
                            </div>
                        </mat-card>
                    </div>

                    <div class="section-buttons">
                        <button class="group call-to-action soft" role="button"
                            (click)="addBridge()"
                            *ngIf="userRole==='admin'"
                            mat-raised-button>
                            <mat-icon>add</mat-icon> Add bridge
                        </button>
                    </div>
                </section>
            </div>
        </div>
        <div class="user-programs col col-sm-8">
            <h1>Group Programs</h1>
            <div class="section-explanation">
                Create a new program or edit the ones you already have.
            </div>
            <div class="row">
                <div *ngIf="canWriteToGroup" class="col-sm-6">
                    <mat-card role="button" (click)="addProgram()" class="module program call-to-action">
                        <div class="program-data">
                            <div class="card-title">Create new program</div>
                        </div>
                    </mat-card>
                </div>
                <div class="col-sm-6" *ngFor="let program of programs">
                    <mat-card
                        [ngClass]="{
                        'module': true,
                        'program': true,
                        'enabled': program.enabled,
                        'not-enabled': !program.enabled
                        }"
                        role="button">
                        <div class="program-data" (click)="openProgram(program)">
                            <div class="program-type">
                                <img *ngIf="program.type === 'scratch_program'"
                                    src="/assets/blocks-icon.svg"
                                    data-toggle="tooltip" data-placement="top" title="Block style program" />
                                <img *ngIf="program.type === 'flow_program'"
                                    src="/assets/flow-icon.svg"
                                    data-toggle="tooltip" data-placement="top" title="Flow style program"/>
                            </div>
                            <div class="card-title">{{program.name}}</div>
                            <div class="connection-icon-list">
                                <span *ngFor="let bridge of program.bridges_in_use">
                                    <img role="avatar" class="icon" *ngIf="bridgeInfo[bridge] && bridgeInfo[bridge].icon" src="{{ bridgeInfo[bridge].icon }}"
                                        data-toggle="tooltip" title="{{bridgeInfo[bridge].name}} bridge"/>
                                    <span class="nametag" *ngIf="bridgeInfo[bridge] && (!bridgeInfo[bridge].icon) && bridgeInfo[bridge].name">
                                        {{ bridgeInfo[bridge].name }}
                                    </span>
                                </span>
                            </div>
                        </div>

                        <div *ngIf="!program.enabled" class="program-operation">
                            <button mat-mini-fab
                                (click)="enableProgram(program)"
                                color="accent"
                                *ngIf="canWriteToGroup"
                                class="enable-program">
                                <mat-icon>play_arrow</mat-icon>
                            </button>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>
