h2 mat-icon {
    vertical-align: sub;
    margin-right: 1ex;
}

.bridge-name {
    text-decoration: underline;
}

.accept-cancel {
    margin-top: 2em;
}

.accept-cancel button {
    margin-right: 1ex;
}

.confirm-button {
    background-color: #009688;
    color: white;
    font-weight: bold;
}

button.toggle-fold {
    min-width: 4ex;
    padding: 0;
}


h4 button {
    vertical-align: middle;
}

h4 .title {
    margin-left: 0.5ex;
}

.conn-url {
    margin-left: calc(1em + 2ex);
    margin-bottom: 1ex;
}

.redacted {
    text-decoration: underline dotted;
}

button.create-token {
    margin-left: 1em;
    padding: 0;
    min-width: 5ex;
}

button.remove-token {
    padding: 0;
    min-width: 5ex;
    background-color: #f44;
    color: white;
}

.token .note {
    text-decoration: none;
    background: #444;
    padding: 1ex;
    color: white;
    border-radius: 4px;
    margin-left: 1em;
    display: inline-block;
}

.token-creation-cell {
    display: grid;
    width: max-content;
    margin-left: 1ex;
}

.token-creation-cell .token-name {
    grid-row: 1;
    grid-column: 1;
    max-width: 40ex;
}

.token-creation-cell .error-message {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 1;

    margin-bottom: 2ex;
}

.token-creation-cell button {
    grid-row: 1;
    grid-column: 2;
    height: 5ex;
    margin-left: 1em;
    margin-top: 1ex;
    width: max-content;
}

span.value {
    padding-left: 1ex;
    text-decoration: underline dotted;
}

.expanded-true > .key button.toggle-fold .fold-open  {
    display: none;
}

.expanded-true > h4 button.toggle-fold .fold-open  {
    display: none;
}

.expanded-false > .key button.toggle-fold .fold-close {
    display: none;
}

.expanded-false > h4 button.toggle-fold .fold-close {
    display: none;
}

.expanded-false .token-list {
    display: none;
}

.token-list {
    padding-left: 1ex;
    border-left: 1px solid rgba(0,0,0,0.3);
    margin-left: 1em;
}

.token-list table {
    margin-top: 1ex;
    width: 100%;
}

.token-list th, .token-list td {
    padding: 0.5ex 1ex 0.5ex 1ex;
}

.token-list tbody tr:nth-child(odd) {
    background-color: #fed;
}

.token-list th.action-col, .token-list td.action-col {
    border: none;
}

.token-value input {
    text-decoration: underline rgba(0,0,0,0.3);
}


.expanded-false .expanded-contents {
    display: none;
}


.key {
    margin-bottom: 0.5rem;
}

.expanded-contents {
    padding-left: 1ex;
    border-left: 1px solid rgba(0,0,0,0.3);
    margin-left: 1em;
    margin-bottom: 0.5rem;
}

section {
    margin-top: 1ex;
}

.resource-name {
    font-size: 150%;
    text-transform: capitalized;
}

ul.resource-options {
    padding-left: 0;
}

.resource-options li {
    margin-top: 1ex;
}

.confirm-cancel-shares, .confirm-cancel-logs {
    padding: 1ex;
    background-color: #eff;
    border-radius: 4px;
    border: 1px solid #055;
    margin-bottom: 1em;
}

.confirm-cancel-shares button, .confirm-cancel-logs button {
    margin: 0.5ex;
}

.save-share-button, .save-button {
    background-color: #009688;
    color: white;
    font-weight: bold;
}

button.remove-share {
    background-color: #f44;
    color: white;
    min-height: 3ex;
    min-width: 5ex;
    margin-left: 1ex;

    padding: 0;
    vertical-align: super;
}

button.remove-share mat-icon {
    vertical-align: middle;
}

.shares .connector-text {
    vertical-align: text-bottom;
}

.shares mat-form-field.shared-with {
    vertical-align: middle;
}

.entry-name {
    vertical-align: middle;
    margin-left: 1ex;
}

.annotated-icon {
    display: grid;
}

.annotated-icon mat-icon {
    grid-row: 1;
    grid-column: 1;
    text-align: center;
    width: 100%;
}

.annotated-icon label {
    grid-row: 2;
    grid-column: 1;
    font-size: small;
    line-height: initial;
    margin: 0;
    width: 100%;
    text-align: center;
}

section.resources li .share-button {
    margin: 0 1ex 0 1ex;
    padding: 0.5ex;
    min-width: 5ex;
}

.signal-terminal {
    box-shadow: 0 0 2px 1px rgba(0,0,0,0.3) inset;
    max-height: 50vh;
    overflow: auto;
}

.signal-terminal .signal-message {
    border-bottom: 1px solid rgba(0,0,0,0.3);
    margin: 1ex 0 1ex 0;
    padding: 1ex;
}

.signal-terminal .signal-message:last-child {
    border: none;
    padding: none;
}

.signal-terminal:empty::after {
    content: "No messages yet";
    font-style: italic;
    display: inline-block;
    padding: 1ex;
}

.save-signals-controls {
    margin-bottom: 0.5rem;
}

.connection-name {
    width: calc(100% - 11ex - 1ex);
    display: inline-block;
}

.connection-name .content {
    font-size: small;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    vertical-align: sub;
}

.save-signals-controls > mat-slide-toggle {
    margin-right: 1ex;
    width: 11ex;
}

.connection-log-status {
    font-size: small;
    font-weight: bold;
}
