h2 mat-icon {
    vertical-align: sub;
    margin-right: 1ex;
}

.bridge-name {
    text-decoration: underline;
}

.accept-cancel {
    margin-top: 2em;
}

.accept-cancel button {
    margin-right: 1ex;
}

.confirm-button {
    background-color: #009688;
    color: white;
    font-weight: bold;
}

button.toggle-fold {
    min-width: 5ex;
}


.conn-url, .tokens  {
    padding-left: 1em;
}

.editable-token .call-to-action {
    margin-left: 1em;
}

.redacted {
    margin-left: 1ex;
    text-decoration: underline dotted;
}

button.create-token {
    margin-left: 1em;
    padding: 0;
    min-width: 5ex;
}

button.remove-token {
    padding: 0;
    min-width: 5ex;
    background-color: #f44;
    color: white;
}

.token .note {
    text-decoration: none;
    background: #444;
    padding: 1ex;
    color: white;
    border-radius: 4px;
}

.token-creation-cell {
    display: grid;
}

.token-creation-cell .token-name {
    grid-row: 1;
    grid-column: 1;
}

.token-creation-cell .error-message {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 1;
}

.token-creation-cell button {
    grid-row: 1;
    grid-column: 2;
    height: 5ex;
}

span.value {
    padding-left: 1ex;
    text-decoration: underline dotted;
}

.expanded-true button.toggle-fold .fold-open {
    display: none;
}

.expanded-false button.toggle-fold .fold-close {
    display: none;
}

.expanded-false .shares {
    display: none;
}

.expanded-false .token-list {
    display: none;
}

.resource-entry {
    padding-left: 1ex;
    border-left: 1px solid rgba(0,0,0,0.3);
}

.resource-name {
    font-size: 120%;
    font-weight: bold;
    text-transform: capitalize;
}

ul.resource-options {
    padding-left: 0;
}

.resource-options li {
    margin-top: 1ex;
}

.confirm-cancel-shares {
    padding: 1ex;
    background-color: #eff;
    border-radius: 4px;
    border: 1px solid #055;
    margin-bottom: 1em;
}

.save-share-button {
    margin: 1ex;
    background-color: #009688;
    color: white;
    font-weight: bold;
}

button.remove-share {
    background-color: #fa0;
    min-height: 3ex;
    min-width: 4ex;

    padding: 0;
    vertical-align: super;
}

button.remove-share mat-icon {
    vertical-align: middle;
}

.shares .connector-text {
    vertical-align: text-bottom;
}

.shares mat-form-field.shared-with {
    vertical-align: middle;
}

.entry-name {
    vertical-align: middle;
}

.annotated-icon mat-icon {
    vertical-align: inherit;
}

.annotated-icon label {
    font-size: small;
    margin: 0 0.5ex 0 0.5ex;
    pointer-events: none;
}

section.resources li .share-button {
    margin: 0 1ex 0 1ex;
    padding: 0.5ex
}

.signal-terminal {
    box-shadow: 0 0 2px 1px rgba(0,0,0,0.3) inset;
    max-height: 50vh;
    overflow: auto;
}

.signal-terminal .signal-message {
    border-bottom: 1px solid rgba(0,0,0,0.3);
    margin: 1ex 0 1ex 0;
    padding: 1ex;
}

.signal-terminal .signal-message:last-child {
    border: none;
    padding: none;
}

.signal-terminal:empty::after {
    content: "No messages yet";
    font-style: italic;
    display: inline-block;
    padding: 1ex;
}
