<h1 id="project-name">
    <img src="/assets/about-logo.png" alt="Project logo" />
    <span class="name">Plaza</span>
    <span class="subname"> project</span>
</h1>

<div class="project-name-offer-separator"></div>

<h2 id="project-offer">Wire your internet</h2>

<div class="project-offer-claim-separator"></div>

<h3 id="project-claim">Plaza is an Open Source platform to program services and devices using visual tools.</h3>

<div class="call-to-action-button-container">
    <button (click)="followCallToAction()"
            mat-raised-button>
        Try it !
    </button>
</div>

