<h2 mat-dialog-title>Cloning <span class="program-name">{{ data.name }}</span>...</h2>

<mat-dialog-content>
    <mat-vertical-stepper [linear]="true" #stepper>
        <ng-template matStepperIcon="edit">
		    <mat-icon>check</mat-icon>
	    </ng-template>

        <mat-step name="destination-account">
            <ng-template matStepLabel>Where to clone to?</ng-template>

            <mat-card
                *ngIf="session"
                role="button"
                [class]="destinationAccount == '__user' ? 'selected' : ''"
                (click)="destinationAccount = '__user'"
            >
                <img class="account-icon" onerror="this.src='/assets/profile-not-set.png'"
                    [src]="_getUserPicture(session.user_id)" /> My user
            </mat-card>
            <mat-card *ngFor="let group of user_groups"
                role="button"
                [class]="destinationAccount == group.id ? 'selected' : ''"
                (click)="destinationAccount = group.id">
                <img class="account-icon" onerror="this.src='/assets/no-group-picture.svg'"
                    [src]="_getGroupPicture(group.id)" /> Group: {{ group.name }}
            </mat-card>
            <div class="stepper-buttons">
                <button class="cancellation" mat-button [mat-dialog-close]="false">Cancel</button>
                <button mat-button mat-raised-button
                    [disabled]="!destinationAccount"
                    (click)="prepareBridges()"
                    color="primary"
                    matStepperNext>Next</button>
            </div>
        </mat-step>
        <mat-step label="Connect to necessary bridges">
            <div class="loading-spinner" *ngIf="loadingBridges">
                <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
            </div>

            <div *ngIf="!loadingBridges">
                <ul class="link-list">
                    <li *ngFor="let conn of usedBridges">
                        {{ conn.bridge_name }} <mat-icon>keyboard_arrow_right</mat-icon>
                        <mat-form-field>
                            <mat-label>Bridge to link to</mat-label>
                            <mat-select (selectionChange)="onLinksUpdate()" [(value)]="links[conn.bridge_id]" required>
                                <mat-option [value]="to_bridge.id" *ngFor="let to_bridge of existingBridges">
                                    {{ to_bridge.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </li>
                </ul>

            </div>

            <div class="stepper-buttons">
                <button class="cancellation" mat-button [mat-dialog-close]="false">Cancel</button>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button mat-raised-button
                    color="primary"
                    [disabled]="!bridgesConnected"
                    matStepperNext>Next</button>
            </div>
        </mat-step>
        <mat-step [formGroup]="programNameFormGroup" name="proram-name">
            <ng-template matStepLabel>Name your new program</ng-template>

            <mat-form-field class="token-name">
                <input matInput
                    id="programName"
                    formControlName="programName"
                    placeholder="Program name"
                    required
                    name="programName"
                />
            </mat-form-field>
            <div class="stepper-buttons">
                <button class="cancellation" mat-button [mat-dialog-close]="false">Cancel</button>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button mat-raised-button
                    color="primary"
                    matStepperNext>Next</button>
            </div>
        </mat-step>
        <mat-step label="Summary and confirmation">
            <div class="stepper-buttons">
                <button class="cancellation" mat-button [mat-dialog-close]="false">Cancel</button>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button mat-raised-button
                    color="primary"
                    matStepperNext>Clone</button>
            </div>
        </mat-step>
    </mat-vertical-stepper>
</mat-dialog-content>
<!-- <mat-dialog-actions>
     <button class="cancellation" mat-button [mat-dialog-close]="false">Cancel</button>
     <button class="confirmation"
     type="submit"
     color="primary"
     mat-button
     [disabled]="!destinationAccount"
     (click)="onConfirm()"
     mat-raised-button>Update</button>
     </mat-dialog-actions> -->
