// Fix blockly bottom drawer on small tallscreens
.injectionDiv > .blocklyToolboxDiv {
    height: max-content;
}

.injectionDiv > .blocklyToolboxDiv > .scratchCategoryMenuHorizontal {
    width: max-content !important;
    height: max-content;
    overflow-x: auto;
 }
