#workspace > svg {
    width: 100%;
    height: 100%;
}

#workspace > svg g.flow_node rect {
    fill: transparent;
    stroke: #444;
    stroke-width: 0.5px;
}

#workspace > svg g.flow_node > a {
    pointer-events: all;
    cursor: grab;
}

#workspace > svg g.flow_node {
    // Avoid text selection
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
