#workspace > svg {
    width: 100%;
    height: 100%;
    background-color: #ddd;
}

#workspace > svg.dragging {
    cursor: grabbing;
}

#workspace > svg g.flow_node > a {
    pointer-events: all;
    cursor: grab;
}

#workspace > svg path.building {
    pointer-events: none;
    stroke-width: 4px;
}

#workspace > svg path.connection {
    stroke-linejoin: round;
}

#workspace > svg path.established {
    stroke-width: 5px;
}

#workspace > svg path.string_wire {
    stroke: #44dd44;
}

#workspace > svg path.integer_wire {
    stroke: #dd4444;
}

#workspace > svg path.boolean_wire {
    stroke: #4444ff;
}

#workspace > svg path.any_wire {
    stroke: #dd44dd;
}

#workspace > svg path.pulse_wire {
    stroke: #fc0;
    stroke-width: 7px;
}

#workspace > svg path.unknown_wire {
    stroke: #7f7f7f;
}

#workspace > svg:not(.drawing) {
    path.established:hover {
        stroke-width: 10px;
        cursor: crosshair;

        &.string_wire {
            stroke: #049d04;
        }

        &.integer_wire {
            stroke: #ad0404;
        }

        &.boolean_wire {
            stroke: #0404bf;
        }

        &.any_wire {
            stroke: #9d049d;
        }

        &.pulse_wire {
            stroke: #b80;
        }

        &.unknown_wire {
            stroke: #3f3f3f;
        }
    }
}

#workspace > svg g.flow_node rect.node_body {
    fill: #fff;
    stroke-width: 0;
    opacity: 0.9;
    filter: url("#shadow");
}

#workspace > svg.drawing rect.node_body {
    pointer-events: none;
}

#workspace > svg g.flow_node .input, #workspace > svg g.flow_node .output  {
    cursor: pointer;
}

#workspace > svg g.flow_node rect.port_plating {
    fill: #27212e;
}


#workspace > svg g.flow_node circle.external_port.string_port {
    fill: #44dd44;
}

#workspace > svg g.flow_node circle.external_port.integer_port {
    fill: #dd4444;
}
#workspace > svg g.flow_node circle.external_port.boolean_port {
    fill: #4444ff;
}
#workspace > svg g.flow_node circle.external_port.pulse_port {
    fill: #fc0;
}

#workspace > svg g.flow_node circle.external_port.any_port {
    fill: #dd44dd;
}

#workspace > svg g.flow_node circle.external_port.unknown_type {
    fill: #777;
}

#workspace > svg g.flow_node circle.internal_port {
    fill: #000000;
}

#workspace > svg g.flow_node text {
    fill: black;
}

#workspace > svg g.flow_node text.node_name {
    font-size: 14px;
}

#workspace > svg g.flow_node text.argument_name {
    font-size: 11px;
    font-weight: bold;
    fill: #fff;
}

#workspace > svg g.flow_node {
    // Avoid text selection
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

// Input helpers
#workspace > svg g.input_helper {
    cursor: pointer;
}

#workspace > svg g.input_helper.hidden {
    display: none;
}

#workspace > svg g.input_helper.pulse_port { // Pulse port input helpers are not yet implemented
    display: none;
}

#workspace > svg g.input_helper .outer_circle {
    fill: #fafafa; // Same as background
    stroke: #444;
    stroke-width: 3px;
}

#workspace > svg g.input_helper rect {
    fill: #444;
}


#workspace > svg g.input_helper path.connection_line {
    stroke: #444;
    stroke-width: 2px;
    stroke-dasharray: 2px,2px;
}

// Direct value node
#workspace > svg g.flow_node.direct_value_node text.node_name {
    font-family: helvetica;
    cursor: text;
}

#workspace > svg g.flow_node.direct_value_node.editing rect.node_body {
    stroke-width: 5px;
    stroke: #009688;
}

// Inline editor
#workspace > .inline_editor_container {
    position: absolute;
}

#workspace > .inline_editor_container.hidden {
    display: none;
}

#workspace > .inline_editor_container > input {
    font-family: helvetica;
    border: none;
    background-color: #fff;
    color: black;
}
