/* You can add global styles to this file, and also import other style files */
@import 'material_theme';
@import 'blockly_theme';

html, body, my-app, .app-content {
  margin: 0;
  width: 100%;
  height: 100%;
}

mat-sidenav-container {
    margin: 0;
    width: 100%;
}

body {
    background-color: #fafafa;
}

.app-content {
    height: auto;
}

.mat-drawer-inner-container {
    padding-top: 1em;
}

.mat-drawer-inner-container > ul {
    padding-left: 0.5ex;
    padding-right: 1ex; // Compensate badges (not accounted for when laying-out)
}

.mat-drawer-inner-container > ul > li > button {
    width: 100%;
    font-size: 150%;
    padding-top: 1ex;
    padding-bottom: 1ex;
    text-align: right;
    text-decoration: underline solid currentColor 1px;
}

mat-sidenav, .full-height {
    height: 100%;
}

mat-sidenav.mat-sidenav {
    background-color: #FFFFFF;
    box-shadow: 2px 0px 3px 0px rgba(0,0,0,0.3);
}

mat-toolbar-row {
    text-align: center;
    font-size: large;
}

.centered {
    text-align: center;
}

.viewer {
    margin-left: 1em;
}

.grid {
    padding: 1em;
}

form {
    padding: 1em;
}

form > mat-card {
    margin-bottom: 1em;
}

li {
    list-style: none;
}

mat-input-container.full-size {
    width: 100%;
}


mat-card.mat-card {
    padding: 24px 16px;
}

mat-card[mat-ink-ripple] {
    position: relative;
}

mat-card.not-persisted {
    background-color: #444;
    color: #eee;
}

mat-card.failed {
    background-color: orangered;
}

.no-top-margin {
    margin-top: 0;
}

mat-card.module {
    margin-bottom: 1ex;
    text-align: center;
}

app-my-login-form, app-my-register-form, bridge-add-component,
app-my-register-wait-for-mail-verification, app-my-verify-code,
app-my-reset-password-start, app-my-reset-password-update-password {
    margin: 1ex;
}

a[role="button"], a[role="button"]:not([href]), a[role="button"]:not([href]):hover, a[role="button"]:hover {
    text-decoration: underline;
    cursor: pointer;
}

mat-card[role="button"], .mat-card[role="button"] {
    cursor: pointer;
}

.login-form {
    margin-top: 2em;
    max-width: 40em;
}

.waiting-message-block, .verify-code-block {
    margin-top: 2em;
    max-width: 40em;
    text-align: center;
}

.center-block {
    margin: 0 auto;
}

.error-message {
    padding: 1ex;
    text-align: center;
    color: #dd1100;
    font-weight: bold;
}

.accept-cancel {
    text-align: center;
}

.call-to-action {
    background-color: orange !important;
    color: white !important;
}

mat-card.call-to-action > h4 {
    font-weight: bold;
    text-align: center;
}

.actionable-icon {
    margin-right: 1ex;
}

.actionable-icon > mat-icon {
    vertical-align: sub;
}

.test-result {
    whitespace: pre;
    padding: 1em;
    background-color: #eeeeee;
    border-radius: 5px;
}

.test-result {
    line-height: 1.5em;
}

.tagged-json-type-null {
    color: red;
}

.tagged-json-type-boolean {
    font-style: italic;
}

.tagged-json-type-number {
    font-style: italic;
}

.tagged-json-map-key .tagged-json-type-string {
    border-bottom: 2px solid green;
}

.tagged-json-type-string {
    border-bottom: 2px solid orange;
}

.tagged-json-type-list::before {
    content: "[\A";
}

.tagged-json-type-list::after {
    content: "]";
}

.tagged-json-type-map::before {
    content: "{\A";
}

.tagged-json-type-map::after {
    content: "}";
}

.tagged-json-list-element::after {
    content: ",\A";
}

.tagged-json-map-key::after {
    content: ": ";
}

.tagged-json-map-value::after {
    content: ",\A";
}

#nprogress .bar {
    background-color: #deff00 !important;
}


/* How to enable services */
div.console {
    padding: 1ex;

    background-color: #222;
    color: #eee;
    border-radius: 2px;
    font-family: monospace;
}

.rendering-zone span.text {
    white-space: pre-wrap;
}

.form-buttons {
    float: right;
}

/* Bridge cards */
mat-card.bridge.connected-true {
    color: #eee;
    background-color: #227e00;
}

mat-card.bridge.connected-false {
    color: #eee;
    background: repeating-linear-gradient(
        45deg,
        #444,
        #444 10px,
        #222 10px,
        #222 20px
    );
}

/* Template dialog */
.full-dialog-size {
    width: 80vw;
}

/* Logs panel */
#logs_panel_container > .log-entry > button {
    float: right;
}

#logs_panel_container > .log-entry > .time {
    font-size: small;
    display: block;
}

@keyframes glow-new-log-entry {
    from {background-color: rgba(255, 100, 100, 1);}
    to {background-color: rgba(255, 100, 100, 0);}
}

#logs_panel_container > .log-entry {
    border-bottom: 1px dashed rgba(0,0,0,0.3);
    padding: 1ex 1em 1ex 1em;
    animation-name: glow-new-log-entry;
    animation-duration: 2s;
}

/* Program detail upload button animation */
@keyframes button-load-started {
    from {width: 100%;}
    to {width: 50%;}
}
@keyframes button-load-completed {
    from {width: 50%;}
    to {width: 0%;}
}

button#program-start-button > .mat-button-wrapper > .load-bg {
    background-color: #27212e;
    height: 100%;
    position: absolute;
    z-index: -1;
    right: 0px;
    top: 0;
}

button#program-start-button.started > span > .load-bg {
    animation-name: button-load-started;
    animation-duration: 0.2s;
}

button#program-start-button.completed > span > .load-bg {
    animation-name: button-load-completed;
    animation-duration: 0.3s;
}

/* Navigation bar login button */
.login-indicator > .account-menu > .mat-button-wrapper > .mat-icon {
    font-size: 2rem;
    display: inline-block;
    height: 2rem;
}
