.token-creation-screen {
    text-align: center;
    padding: 2rem;

    .scopes {
        width: max-content;
        text-align: left;

        margin: 2rem auto;
        padding: 2rem;

        border: 1px solid #777;
        border-radius: 4px;

        background-color: #f4f9ff;
    }

    .scope-list {
        margin-top: 1em;
        list-style: revert;

        .name {
            font-weight: bold;
        }
        .name::after {
            content: ': ';
        }
    }

    .generated-token {
        border: 1px solid #000;
        margin: 1rem 0;
        border-radius: 4px;
        text-align: center;
    }
}
