.options-row {
    margin: 1ex;

    &>mat-card {
        // margin: 1ex;
    }
}

.options-row > mat-card {
    &.selected {
        background-color: rgba(170, 255, 170, 0.5);
    }

    margin-left: 1ex;
}

.example {
    text-align: center;
}

.example > img {
    max-width: 100%;
    max-height: 20ex;
    padding: 1ex;

    background: #ddd;
    border-radius: 5px;
}

.description > .reason {
    font-weight: bold;
}

.description > .disabled-explanation {
    background-color: #f66;
    padding: 1ex;
    border-radius: 5px;
    color: black;
    margin: 0.5ex;
    text-align: center;
    font-weight: bold;
}


.description > .warning {
    background-color: #f66;
    padding: 1ex;
    border-radius: 5px;
    color: black;
    margin: 0.5ex;
    text-align: center;
    font-weight: bold;
}

.title {
    text-align: center;
}
