<div class="settings-section row" *ngIf="groupInfo">
    <div class="avatar-settings-col col-sm-4">
        <div [ngClass]="'settings-group ' + (loadedImage ? 'edited' : '')">
            <div class="avatar">
                <img *ngIf="session" #imgPreview
                    src="{{_getGroupPicture(groupInfo.id)}}"
                    onError="this.src='/assets/profile-not-set.png'" />
            </div>
            <div class="avatar-edit-section">
                <button color="primary" class="picture-upload-button"
                    (click)="imgFileInput.click()"
                    mat-raised-button>
                    <mat-icon>edit</mat-icon> Upload {{ loadedImage ? ' new ' : '' }} picture
                </button>
                <input hidden accept="image/*" type="file" #imgFileInput (change)="previewImage($event)"/>

                <button mat-button mat-raised-button
                    #saveAvatarButton
                    id="avatar-save-button"
                    class="save-button"
                    color="primary"
                    *ngIf="loadedImage"
                    (click)="saveAvatar()">
                    <span class="load-bg"></span>
                    <mat-icon class="action-icon">cloud_upload</mat-icon>
                    Save
                </button>
            </div>
        </div>
    </div>

    <div class="general-settings col-sm-8">
        <div class="user-settings settings-group">
            <div class="title">Collaborators</div>

            <div class="save-section">
                <button mat-button mat-raised-button
                    id="user-settings-save-button"
                    class="save-button"
                    color="primary"
                    (click)="saveCollaborators()">
                    <span class="load-bg"></span>
                    <mat-icon class="action-icon">cloud_upload</mat-icon>
                    Save
                </button>
            </div>
        </div>
    </div>
</div>
