.profile-section {
    width: 100%;
}

mat-card.not-enabled {
    background: repeating-linear-gradient(
        45deg,
        #444,
        #444 10px,
        #222 10px,
        #222 20px
    );
    color: white;
}

mat-card.enabled {
    background-color: #227e00;
    color: #fff;
}


div.letter-call-to-action {
    background-color: darkorange;
    font-size: small;
    padding: 1ex;
    border-radius: 2px;
    margin-top: 1ex;
}

mat-card.module > h4 {
    overflow: hidden;
    font-size: 1.15rem;
    cursor: pointer;
}

/* Program styling */
mat-card.program {
    padding: 0;
}

mat-card.program > .connection-icon-list {
    background-color: rgba(0, 48, 150,0.05);
    border-top: 1px solid rgba(0, 48, 150,0.25);

    text-align: left;
    padding: 1ex;
}

mat-card.program > h4 {
    padding: 1em;
    font-weight: 600;
    color: #444;
}

mat-card.call-to-action > h4{
    color: #fff;
    padding: 2em 1em 2em 1em;
}

.user-programs {
    padding-bottom: 3em;
}

/* Public section */
.public-section {
    width: 100%;
    padding: 1em;
}

.col > h1 {
    text-align: center;
}

.section-explanation {
    padding: 1ex;
    font-style: italic;
}

.user-data > .username {
    color: #444;
    font-size: 200%;
}

.user-data > .avatar {
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.3);
    border-radius: 5px;
}

/* Private section. Mostly, connections upper "bar" */
.private-section {
    border-bottom: 1px solid black;
    background: repeating-linear-gradient(45deg,#fafafa,#fafafa 10px,#f3f3f3 10px, #f3f3f3 20px);
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.3);
    overflow-x: auto;
    padding: 1em 0 1em 0;
}

.user-connections {
    margin: 0 auto;
    width: max-content;
}

.user-connections > h1 {
    display: block;
    font-size: 150%;
    width: 100%;
    max-width: 100vw;
    text-align: center;
}

.user-connections > .connection-list {
    padding: 0 1em 0 1em;
}

.user-connections > .connection-list > div {
    display: inline;
    margin-right: 1ex;
}

.user-connections > .connection-list > div > mat-card {
    display: inline-block;
    padding: 1ex;
}

.user-connections > .connection-list > div > mat-card > mat-icon {
    vertical-align: bottom;
}

.connection > img.icon {
    height: 3ex;
    max-width: 10ex;
}

/* Call-to-actions */
.user-connections .integrated-call-to-action {
    display: inline-block;
    font-size: 200%;
    color: #ff4500;
    font-weight: bold;
}

/* Examples */
mat-card.example {
    background-color: #3798e2;
    color: #fff;
    font-weight: 600;

    padding: 0; /* Moved into child elements */
}

mat-card.example > .description {
    padding: 1ex;
}
.connection-icon-list {
    border-radius: 0 0 4px 4px;
    background-color: rgba(255,255,255,0.95);
    text-align: left;
    padding: 1ex;
}

.connection-icon-list > img {
    max-height: 4ex;
    width: 4ex;
    margin-left: 1ex;
}
