<div class="profile-section">
    <div class="private-section">
        <div class="user-connections">
            <h1>My connections </h1>
            <div class="connection-list">
                <div>
                    <button role="button" (click)="addConnection()" class="module connection call-to-action soft cardlike" mat-raised-button>
                        <mat-icon class="action-icon">add</mat-icon>
                    </button>
                </div>
                <div *ngIf="(connections !== null) && (connections.length == 0)">
                    <div class="integrated-call-to-action call-to-left">
                        <mat-icon class="action-icon">arrow_back</mat-icon>
                        To start, connect a service.
                    </div>
                </div>
                <div *ngFor="let connection of connections">
                    <mat-card class="module connection"
                        role="button" (click)="openConnection(connection.conn)">
                        <img class="icon" *ngIf="connection.extra.icon_url" src="{{ connection.extra.icon_url }}" alt="{{ connection.conn.bridge_name }}" />

                        <span *ngIf="!connection.extra.icon_url" class="connection-name">
                            {{ connection.conn.bridge_name }}
                        </span>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>

    <div class="row public-section">
        <div class="">
            <div *ngIf="userInfo" class="user-profile ">
                <div class="avatar">
                    <img src="{{ _getUserPicture(userInfo.id)  }}"
                        onError="this.src='/assets/profile-not-set.png'"
                        />
                </div>

                <div class="username">{{ userInfo.name }}</div>

                <section *ngIf="userInfo.groups" class="groups">
                    <div class="section-title">Groups</div>

                    <div *ngIf="userInfo.groups.length == 0" class="not-joined-explanation">
                        You have not joined any <span class="keyword">group</span>.
                    </div>

                    <div class="section-objects">
                        <mat-card class="group"
                            *ngFor="let group of userInfo.groups"
                            (click)="openGroup(group)"
                            role="button" >
                            <img class="icon" *ngIf="group.picture" src="{{ group.picture }}" alt="{{ group.name }}"
                                matTooltip="{{ group.name }}">

                            <span *ngIf="!group.picture" class="group-name">
                                {{ group.name }}
                            </span>
                        </mat-card>
                    </div>

                    <div class="section-buttons">
                        <button class="group call-to-action soft" role="button"
                            (click)="createGroup()"
                            mat-raised-button>
                            <mat-icon>add</mat-icon> Create group
                        </button>
                    </div>
                </section>
            </div>
        </div>
        <div class="user-programs col col-sm-8">
            <h1>My Programs</h1>
            <div class="section-explanation">
                Create a new program or edit the ones you already have.
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <mat-card role="button" (click)="addProgram()" class="module program call-to-action">
                        <div class="program-data">
                            <div class="card-title">Create new program</div>
                        </div>
                    </mat-card>
                </div>
                <div class="col-sm-6" *ngFor="let program of programs">
                    <mat-card
                        [ngClass]="{
                        'module': true,
                        'program': true,
                        'enabled': program.enabled,
                        'not-enabled': !program.enabled
                        }"
                        role="button">
                        <div class="program-data" (click)="openProgram(program)">
                            <div class="program-type">
                                <img *ngIf="program.type === 'scratch_program'"
                                    src="/assets/blocks-icon.svg"
                                    data-toggle="tooltip" data-placement="top" title="Block style program" />
                                <img *ngIf="program.type === 'flow_program'"
                                    src="/assets/flow-icon.svg"
                                    data-toggle="tooltip" data-placement="top" title="Flow style program"/>
                            </div>
                            <div class="card-title">{{program.name}}</div>
                            <div class="connection-icon-list">
                                <span *ngFor="let bridge of program.bridges_in_use">
                                    <img class="icon" *ngIf="bridgeInfo[bridge] && bridgeInfo[bridge].icon" src="{{ bridgeInfo[bridge].icon }}"
                                        data-toggle="tooltip" title="{{bridgeInfo[bridge].name}} bridge"/>
                                    <span class="nametag" *ngIf="bridgeInfo[bridge] && (!bridgeInfo[bridge].icon) && bridgeInfo[bridge].name">
                                        {{ bridgeInfo[bridge].name }}
                                    </span>
                                </span>
                            </div>
                        </div>

                        <div *ngIf="!program.enabled" class="program-operation">
                            <button mat-mini-fab
                                (click)="enableProgram(program)"
                                color="accent"
                                class="enable-program">
                                <mat-icon>play_arrow</mat-icon>
                            </button>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>
