<div class="profile-section">
    <div class="private-section">
        <div class="user-connections">
            <h1>My connections </h1>
            <div class="connection-list">
                <div>
                    <button role="button" (click)="addConnection()" class="module connection call-to-action soft cardlike" mat-raised-button>
                        <mat-icon class="action-icon">add</mat-icon>
                    </button>
                </div>
                <div *ngIf="(connections !== null) && (connections.length == 0)">
                    <div class="integrated-call-to-action call-to-left">
                        <mat-icon class="action-icon">arrow_back</mat-icon>
                        To start, connect a service.
                    </div>
                </div>
                <div *ngFor="let connection of connections">
                    <mat-card class="module connection non-clickable"
                        role="button" (click)="openConnection(connection.conn)">
                        <img class="icon" role="avatar" *ngIf="connection.extra.icon_url" src="{{ connection.extra.icon_url }}" alt="{{ connection.conn.bridge_name }}" />

                        <span *ngIf="!connection.extra.icon_url" class="connection-name">
                            {{ connection.conn.bridge_name }}
                        </span>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>

    <mat-tab-group mat-align-tabs="center" animationDuration="0ms">

        <mat-tab>
            <ng-template matTabLabel>
                <span [matBadge]="programs && getEnabled(programs).length" matBadgeOverlap="false">My programs</span>
            </ng-template>

            <div class="section-explanation">
                Create a new program or edit the ones you already have.
            </div>
            <div class="row program-list">
                <div class="col-sm-6">
                    <mat-card role="button" (click)="addProgram()" class="module program call-to-action">
                        <div class="program-data">
                            <div class="card-title">Create new program</div>
                        </div>
                    </mat-card>
                </div>
                <ng-container *ngFor="let program of programs">
                    <div class="col-sm-6 program-list" *ngIf="program.enabled">
                        <mat-card
                            [ngClass]="{
                            'module': true,
                            'program': true,
                            'enabled': program.enabled,
                            'not-enabled': !program.enabled
                            }"
                            role="button">

                            <div class="program-data" (click)="openProgram(program)">
                                <div class="program-type">
                                    <img *ngIf="program.type === 'scratch_program'"
                                        src="/assets/blocks-icon.svg"
                                        data-toggle="tooltip" data-placement="top" title="Block style program" />
                                    <img *ngIf="program.type === 'flow_program'"
                                        src="/assets/flow-icon.svg"
                                        data-toggle="tooltip" data-placement="top" title="Flow style program"/>
                                </div>
                                <div class="card-title">{{program.name}}</div>
                                <div class="connection-icon-list">
                                    <span *ngFor="let bridgeId of program.bridges_in_use">
                                        <img role="avatar" class="icon" *ngIf="bridgeInfo[bridgeId] && bridgeInfo[bridgeId].icon" src="{{ _iconDataToUrl(bridgeInfo[bridgeId].icon,  bridgeId ) }}"
                                            data-toggle="tooltip" title="{{bridgeInfo[bridgeId].name}} bridge"/>
                                        <span class="nametag" *ngIf="bridgeInfo[bridgeId] && (!bridgeInfo[bridgeId].icon) && bridgeInfo[bridgeId].name">
                                            {{ bridgeInfo[bridgeId].name }}
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div [class]="'program-settings ' + (programSettingsOpened[program.id] === undefined ? '' : 'hidden-' + (!programSettingsOpened[program.id]))">
                                <div class="contents">
                                    <div class="title"><span class="program-name">{{ program.name }}</span>'s Settings</div>
                                    <button mat-raised-button mat-button
                                        (click)="archiveProgram(program)"
                                        class="archive-program">
                                        <mat-icon>archive</mat-icon>
                                        Archive
                                    </button>
                                </div>
                            </div>

                            <div class="program-operation">
                                <button mat-mini-fab
                                    (click)="toggleShowProgramSettings(program)"
                                    color="accent"
                                    class="fab-action open-program-settings">
                                    <mat-icon>settings</mat-icon>
                                </button>
                            </div>
                        </mat-card>
                    </div>
                </ng-container>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template matTabLabel>
                <span [matBadge]="programs && getArchived(programs).length" matBadgeOverlap="false">Archived programs</span>
            </ng-template>

            <div class="section-explanation">
                These are programs that you have archived, they won't be running until you launch them again.
            </div>
            <div class="row program-list">
                <ng-container *ngFor="let program of programs">
                    <div class="col-sm-6" *ngIf="!program.enabled">
                        <mat-card
                            [ngClass]="{
                            'module': true,
                            'program': true,
                            'enabled': program.enabled,
                            'not-enabled': !program.enabled
                            }"
                            role="button">
                            <div class="program-data" (click)="openProgram(program)">
                                <div class="program-type">
                                    <img *ngIf="program.type === 'scratch_program'"
                                        src="/assets/blocks-icon.svg"
                                        data-toggle="tooltip" data-placement="top" title="Block style program" />
                                    <img *ngIf="program.type === 'flow_program'"
                                        src="/assets/flow-icon.svg"
                                        data-toggle="tooltip" data-placement="top" title="Flow style program"/>
                                </div>
                                <div class="card-title">{{program.name}}</div>
                                <div class="connection-icon-list">
                                    <span *ngFor="let bridgeId of program.bridges_in_use">
                                        <img role="avatar" class="icon" *ngIf="bridgeInfo[bridgeId] && bridgeInfo[bridgeId].icon" src="{{ _iconDataToUrl(bridgeInfo[bridgeId].icon,  bridgeId ) }}"
                                            data-toggle="tooltip" title="{{bridgeInfo[bridgeId].name}} bridge"/>
                                        <span class="nametag" *ngIf="bridgeInfo[bridgeId] && (!bridgeInfo[bridgeId].icon) && bridgeInfo[bridgeId].name">
                                            {{ bridgeInfo[bridgeId].name }}
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div *ngIf="!program.enabled" class="program-operation">
                                <button mat-mini-fab
                                    (click)="enableProgram(program)"
                                    color="accent"
                                    class="fab-action enable-program">
                                    <mat-icon>play_arrow</mat-icon>
                                </button>
                            </div>
                        </mat-card>
                    </div>
                </ng-container>
            </div>
        </mat-tab>
        <mat-tab label="Bridges">
            <section *ngIf="bridges && bridges.length > 0" class="bridges">
                <div *ngIf="bridges.length == 0" class="not-joined-explanation">
                    You don't maintain any bridge.
                </div>

                <div class="section-objects">
                    <mat-card *ngFor="let bridge of bridges"
                        matRipple matRippleColor="#00000017"
                        class="bridge"
                        role="button"
                        (click)="openBridgePanel(bridge)"
                    >
                        <div class="bridge-data">
                            <span class="bridge-status connected-{{bridge.is_connected}}"
                                matTooltip="{{ bridge.is_connected ? 'Bridge connected' : 'Bridge disconnected' }}">
                                <mat-icon *ngIf="bridge.is_connected">link</mat-icon>
                                <mat-icon *ngIf="!bridge.is_connected">link_off</mat-icon>
                            </span>

                            <img role="avatar" class="icon" *ngIf="bridge.icon" src="{{ _iconDataToUrl(bridge.icon, bridge.id) }}" alt="{{ bridge.name }}" />

                            <div *ngIf="!bridge.icon" class="bridge-name">
                                {{bridge.name || "unnamed bridge"}}
                            </div>
                        </div>
                    </mat-card>
                </div>
                <div class="section-buttons">
                    <button class="group call-to-action soft" role="button"
                        (click)="addBridge()"
                        *ngIf="userRole==='admin'"
                        mat-raised-button>
                        <mat-icon>add</mat-icon> Add bridge
                    </button>
                </div>
            </section>
        </mat-tab>
        <mat-tab label="Profile">
            <div *ngIf="userInfo" class="user-profile ">
                <div class="avatar">
                    <img role="avatar" src="{{ _getUserPicture(userInfo.id)  }}"
                        onError="this.src='/assets/profile-not-set.png'"
                    />
                </div>

                <div class="username">{{ userInfo.name }}</div>

                <section *ngIf="userInfo.groups" class="groups">
                    <div class="section-title">Groups</div>

                    <div *ngIf="userInfo.groups.length == 0" class="not-joined-explanation">
                        You have not joined any <span class="keyword">group</span>.
                    </div>

                    <div class="section-objects">
                        <mat-card class="group"
                            *ngFor="let group of userInfo.groups"
                            (click)="openGroup(group)"
                            role="button" >
                            <img role="avatar" class="icon" *ngIf="group.picture" src="{{ group.picture }}" alt="{{ group.name }}"
                                matTooltip="{{ group.name }}">

                            <span *ngIf="!group.picture" class="group-name">
                                {{ group.name }}
                            </span>
                        </mat-card>
                    </div>

                    <div class="section-buttons">
                        <button class="group call-to-action soft" role="button"
                            (click)="createGroup()"
                            mat-raised-button>
                            <mat-icon>add</mat-icon> Create group
                        </button>
                    </div>
                </section>
            </div>
        </mat-tab>    </mat-tab-group>
</div>
